[submodule "stm32-learning"]
	url  = https://gitee.com/coregiu/stm32-learning
	path = stm32-learning

[submodule "philosophy"]
	url  = https://gitee.com/coregiu/philosophy
	path = philosophy

[submodule "mcu_51"]
	url  = https://gitee.com/coregiu/mcu_51
	path = mcu_51

[submodule "rust-learning"]
	url  = https://gitee.com/coregiu/rust-learning
	path = rust-learning

[submodule "machine-learning"]
	url  = https://gitee.com/coregiu/machine-learning
	path = machine-learning

[submodule "robot-learning"]
	url  = https://gitee.com/coregiu/robot-learning
	path = robot-learning

