*.asm
*.ihx
*.lst
*.lk
*.map
*.mem
*.rel
*.rst
*.sym

# This is the standard content of my ignore file (for Git):Keil MDK
*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvguix.*
*.uvoptx

/Objects
/Listings
build
