[submodule "stm32-learning"]
	url  = https://gitee.com/coregiu/stm32-learning
	path = stm32-learning

[submodule "philosophy"]
	url  = https://gitee.com/coregiu/philosophy
	path = philosophy

[submodule "mcu_51"]
	url  = https://gitee.com/coregiu/mcu_51
	path = mcu_51

[submodule "rust-learning"]
	url  = https://gitee.com/coregiu/rust-learning
	path = rust-learning

[submodule "machine-learning"]
	url  = https://gitee.com/coregiu/machine-learning
	path = machine-learning

[submodule "robot-learning"]
	url  = https://gitee.com/coregiu/robot-learning
	path = robot-learning

[submodule "os-learning"]
	url  = https://gitee.com/coregiu/os-learning
	path = os-learning

[submodule "computer-learning"]
	url  = https://gitee.com/coregiu/computer-learning
	path = computer-learning

[submodule "os-learning"]
	url  = https://gitee.com/coregiu/os-learning
	path = os-learning

[submodule "computer-learning"]
	url  = https://gitee.com/coregiu/computer-learning
	path = computer-learning

[submodule "network-learning"]
	url  = https://gitee.com/coregiu/network-learning
	path = network-learning

[submodule "qemu-learning"]
	url  = https://gitee.com/coregiu/qemu-learning
	path = qemu-learning

[submodule "algorithm-learning"]
	url  = https://gitee.com/coregiu/algorithm-learning
	path = algorithm-learning

[submodule "software-analysis"]
	url  = https://gitee.com/coregiu/software-analysis
	path = software-analysis

[submodule "compile-learning"]
	url  = https://gitee.com/coregiu/compile-learning
	path = compile-learning

